.logo {
  width: 180px;
  min-width: 180px;
  margin-right: 70px;
}
.logo_mobile {
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1020px) {
  #supports {
    display: none !important;
  }
}

@media only screen and (max-width: 768px) {
  .logo_mobile img {
    width: 150px;
    min-width: 150px;
  }
}
.button_group {
  display: flex;
}

.location_drop {
  display: block;
}
@media screen and (max-width: 1600px) {
  .location_drop {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .navWeb .button_group {
    display: none;
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 40px;
}
.line {
  width: 100%;
  height: 2px;
  margin: 3px 0;
  background-color: black;
}
@media screen and (max-width: 350px) {
  .navMobile {
    padding-left: 0 !important;
  }
  .navMobile .burger {
    width: 20px;
  }
}
.navWeb {
  display: none !important;
}

.navMobile {
  display: block !important;
  padding-left: 20px;
}

@media screen and (min-width: 991px) {
  .navMobile {
    display: none !important;
  }
  .navWeb {
    display: block !important;
  }
}
.text_green {
  color: #3bb77e;
  font-weight: 700;
  font-size: 20px;
}

.nav_links {
  flex-grow: 2;
  flex-wrap: wrap;
}
.nav_links a {
  font-weight: 700;
}
.mega_drop {
  position: relative;
  margin-right: 35px;
}
.mega_drop button {
  line-height: 44px;
  border-radius: 5px;
  padding: 0 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  background-color: #29a56c;
  color: white;
}
@media screen and (max-width: 991px) {
  #nav_links {
    display: none !important;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 9%);
  opacity: 0;
  visibility: hidden;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.close_btn {
  position: absolute;
  top: 40px;
  right: 55px;
}
.sidenav .closebtn {
  font-size: 36px;
  margin-left: 50px;
  background-color: #def9ec;
  border-radius: 30px;
  border: none;
  width: 26px;
  height: 26px;
}

.sidenav .side_logo {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 150px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
